<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LootGoblin.Interceptor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LootGoblin.LootGoblin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LootGoblin.Interceptor>
            <setting name="ClickDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ScrollDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MoveDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyPressDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KeyboardDeviceId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseDeviceId" serializeAs="String">
                <value>0</value>
            </setting>
        </LootGoblin.Interceptor>
        <LootGoblin.LootGoblin>
            <setting name="Client" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="BidChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAutomaticRaidTicks" serializeAs="String">
                <value>False</value>
            </setting>
        </LootGoblin.LootGoblin>
    </userSettings>
</configuration>